.title_name {
  display:inline-flex;
  justify-content: left;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

.img-container img{
  height: auto; 
  width: auto; 
  margin-left: 60px;
  max-width: 100px; 
  max-height: 90px;
  display: inline;
  cursor: pointer;
}
.product-rating{
  font-style: bold;
}
button{
  margin:20px;
  margin-bottom: 20px;
  display: inline-block;
}
.btm{
  display: inline-block;
}
/* .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    width:20px;
  }
  
  /* Style for each product in the gallery */
  /* .product {
    width: 30%;
    margin: 10px;
    position: relative;
  } */
  
  /* Style for each photo in the product */
  /* .product img {
    width: 100%;
    height: auto;
  } */ 

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/